<!DOCTYPE html>

<html>

<head>
    <title> Checkout | Foodies </title>
    <link rel="icon" href="images/images/Icons8-Ios7-Food-Cutlery.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/18c73c54bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/style.css">
</head>

<body>

    <div class="container text-center mt-4">
        <div class="jumbotron">
          <h1>Choose your payment option</h1>
        </div>
      </div>
      <br>
<h1 class="text-center">Grand Total: &#8377;<%=grandTotal%> /-</h1>
<h5 class="text-center">including all service charges. (no delivery charges applied)</h5>
<br>
<h1 class="text-center">
<a href="/cart"><button class="btn btn-warning">Go back to cart</button></a>
<a href="/onlinepayment"><button class="btn btn-success">Pay Online</button></a>
<a href="/cod"><button class="btn btn-success">Cash On Delivery</button></a>
</h1>
      

<br><br><br><br><br><br>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>


</html>