<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Signin</title>
  <link rel="icon" href="images/images/Icons8-Ios7-Food-Cutlery.ico">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="CSS/signup.css" rel="stylesheet">
  <script type="module" src="form.js"></script>
  <script type="module" src="js/anim.js"></script>
</head>

<body>
  <canvas class="orb-canvas"></canvas>
  <div class="container">

    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="images/images/logodark.svg" alt="">
        <h2>Signup on Foodies</h2>
      </div>

      <div class="col-lg-12 formbody">
        <form class="needs-validation" action="/signup" method="POST">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control p-2" name="firstname" id="firstName" placeholder="" value=""
                required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control p-2" name="lastname" id="lastName" placeholder="" value=""
                required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control p-2" name="username" id="username" placeholder="Username"
                  required>
                <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Password</label>
              <div class="input-group has-validation">
                <input type="password" class="form-control p-2" name="password" id="password" placeholder="Password"
                  required>
                <div class="invalid-feedback">
                  Password is required.
                </div>
              </div>
            </div>


            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control p-2" name="email" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label ">Address</label>
              <input type="text" class="form-control p-3" name="address" id="address" placeholder="1234 Main St"
                required>
              <div class="invalid-feedback">
                Please enter your delivery address.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Contact</label>
              <input type="tel" class="form-control p-2" name="contact" id="contact" placeholder="Contact" required>
              <div class="invalid-feedback">
                Please enter your Contact Details.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input type="text" class="form-control p-2" name="zipcode" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <div class="text-center">
            <button
              class="btn-dark p-3 pull-right me-2 inline-flex items-center px-5 py-3 border border-transparent rounded-md shadow-sm text-sm font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mb-5 mt-4"
              type="submit">Signup</button>
          </div>

        </form>
      </div>

    </main>


    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017–2021 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>